.home-container {
  height: 100vh;
  /* linear-gradient(
      rgba(20, 20, 31, 0.425),
      rgba(20, 20, 31, 0.425)
    ), */
  /* background-image: url("https://natureneem.com/templates/yootheme/cache/4d/nn_DSC00818-inv-4dde4b6c.webp"); */
  background-image: 
    url("../assets/neem-02.jpg");
   
  background-size: cover;
  background-attachment: fixed;
  /* background-size: cover; */
}
.home_detail {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.home_detail h1 {
  font-family: "Playwrite TZ", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 5.4rem;
  color: #fff;
  display: flex;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px hsla(0, 7%, 8%, 0.534);
}
.home_detail h2 {
  font-size: 4rem;
  color: #fff;
   text-shadow: 2px 2px 8px hsla(0, 7%, 8%, 0.534);
}
.home-neem {
  display: flex;

  width: 80%;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.home-content {
  margin-bottom: 3rem;
}
.contact-us {
  margin-bottom: 3rem;
}
.contact-us button {
  padding: 1rem;
  width: 15rem;
  height: 3.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-shadow: 2px 2px 8px hsla(0, 7%, 8%, 0.534);
}
